# Radu's files
temp.txt
ttl-debug-*.txt
teprolin-stats.txt.lock
ttl-port.txt.lock

# Python
__pycache__/
.pytest_cache/
*.pyc
.vscode/
bioner/__pycache__/
cubenlp/__pycache__/
diac/__pycache__/
ner/__pycache__/
tests/__pycache__/
tnorm/__pycache__/
ttl/__pycache__/
ttsops/__pycache__/
udpipe/__pycache__/
ttsops/MLPLAServer/.settings/org.eclipse.core.resources.prefs
ttsops/MLPLAServer/.settings/org.eclipse.jdt.apt.core.prefs
ttsops/MLPLAServer/.settings/org.eclipse.jdt.core.prefs
ttsops/MLPLAServer/.settings/org.eclipse.m2e.core.prefs
ttsops/MLPLAServer/.project
ttsops/MLPLAServer/.classpath
